---
import FormCard from "../components/FormCard.astro";
import WelcomeMessage from "../components/WelcomeMessage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Enviar arquivos - Solução de Backup">
  <main>
    <WelcomeMessage
      title="Solução de Backup"
      instructions="Faça o upload dos arquivos que deseja fazer backup."
    />
    <FormCard label="Enviar Arquivos" multipleSelection />
  </main>
</Layout>
