---
import FormCard from "../components/FormCard.astro";
import WelcomeMessage from "../components/WelcomeMessage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Copiar arquivo - Solução de Backup">
  <main>
    <WelcomeMessage
      title="Solução de Backup"
      instructions="Copie o arquivo para uma nova pasta"
    />
    <FormCard
      label="Copiar arquivo"
      fileName="Nome do arquivo"
      destination="Pasta de destino"
    />
  </main>
</Layout>
