---
import FormCard from "../components/FormCard.astro";
import WelcomeMessage from "../components/WelcomeMessage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Deletar arquivo - Solução de Backup">
  <main>
    <WelcomeMessage
      title="Solução de Backup"
      instructions="Delete arquivos de backup"
    />
    <FormCard
      label="Deletar arquivo"
      fileName="Nome do arquivo"
    />
  </main>
</Layout>
