---
import FormCard from "../components/FormCard.astro";
import WelcomeMessage from "../components/WelcomeMessage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Enviar arquivo - Solução de Backup">
  <main>
    <WelcomeMessage
      title="Solução de Backup"
      instructions="Envie o arquivo para o servidor de backup"
    />
    <FormCard label="Enviar Arquivo" folder="Selecione o arquivo para enviar" />
  </main>
</Layout>
