---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import WelcomeMessage from "../components/WelcomeMessage.astro";
---

<Layout title="Solução de Backup">
  <main>
    <WelcomeMessage
      title="Solução de Backup"
      instructions="Para começar, selecione uma operação da lista abaixo."
    />
    <ul role="list" class="link-card-grid">
      <Card
        href="/mover-arquivo"
        title="Mover Arquivo"
        body="Mova um arquivo para um novo local."
      />
      <Card
        href="/copiar-arquivo"
        title="Copiar Arquivo"
        body="Copie um arquivo para um novo local."
      />
      <Card
        href="/upload-arquivo"
        title="Upload de Arquivo"
        body="Faça upload de um novo arquivo."
      />
      <Card
        href="/enviar-arquivo"
        title="Enviar Arquivo"
        body="Envie um arquivo."
      />
      <Card
        href="/backup-arquivos"
        title="Backup de Arquivos"
        body="Faça backup de vários arquivos."
      />
      <Card
        href="/deletar-arquivo"
        title="Deletar Arquivo"
        body="Delete um arquivo."
      />
      <Card
        href="/deletar-arquivos-antigos"
        title="Deletar Arquivos Antigos"
        body="Delete arquivos mais antigos que um determinado número de dias."
      />
      <Card
        href="/deletar-arquivos-por-extensao"
        title="Deletar Arquivos por Extensão"
        body="Delete todos os arquivos com uma determinada extensão."
      />
      <Card
        href="/deletar-arquivos-antigos-por-extensao"
        title="Deletar Arquivos Antigos por Extensão"
        body="Delete arquivos antigos com uma determinada extensão."
      />
      <Card
        href="/baixar-arquivo"
        title="Baixar Arquivo"
        body="Baixe um arquivo."
      />
      <Card
        href="/listar-arquivos"
        title="Listar Arquivos"
        body="Obtenha uma lista de todos os arquivos."
      />
      <Card
        href="/salvar-modelo-agendador"
        title="Salvar Modelo de Agendador"
        body="Salve um novo modelo de agendador."
      />
      <Card
        href="/obter-modelos-agendador-salvos"
        title="Obter Modelos de Agendador Salvos"
        body="Obtenha uma lista de modelos de agendador salvos."
      />

      <Card
        href="/atualizar-tarefas-agendadas"
        title="Atualizar Tarefas Agendadas"
        body="Atualize tarefas agendadas."
      />
    </ul>
  </main>
</Layout>
