---
import FormCard from "../components/FormCard.astro";
import WelcomeMessage from "../components/WelcomeMessage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Listar arquivos - Solução de Backup">
  <main>
    <WelcomeMessage
      title="Solução de Backup"
      instructions="Abaixo a lista de arquivos armazenados no storage."
    />
    <FormCard
      label="Arquivos do Storage"
      files={[
        "backup/012024/exemplo_arquivo.pdf",
        "storage/012024/exemplo_arquivo.xml",
      ]}
    />
  </main>
</Layout>
